<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='/css/styles.css')}}" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <title>{{title}}</title>

 

    {% if current_user.is_authenticated  and current_user.role == "admin_user" %}
   <nav class="nav">
       <ul>
           <li class="links-li" ><a href="/">Home</a></li>
           <li class="links-li" ><a href="/registered_users">Registered</a></li>
           <li class="links-li"><a href="#">Close Event</a></li>
       </ul>
   </nav>
   {% endif %}

   {% if current_user.is_authenticated %}

    <div  onclick="openMenuFunc()" class="menu-icon">
        <div class="stroke"></div>
        <div class="stroke"></div>
        <div class="stroke"></div>
    </div>
    {% endif %}
    

    <div class="other-nav">
        <ul class="other-navbar-nav">
          <li class="other-nav-item active">
            <a class="nav-link" href="/">Home</a>
          </li>
          {% if current_user.role == "admin_user" %}
          <div class="navbar-separator"></div>
          <li class="other-nav-item">
            <a class="nav-link" href="/registered_users">Registered Users</a>
          </li>
          {% endif %}
          <div class="navbar-separator"></div>
          <li class="other-nav-item">
            <a class="nav-link" href="/user_registration_form">Register</a>
          </li>
          <div class="navbar-separator"></div>
          <li class="other-nav-item">
            <a class="nav-link" href="/user_registration_form_edit">Registration Form</a>
          </li>
          <div class="navbar-separator"></div>
          <li class="other-nav-item">
            <a class="nav-link" href="/user_account">My Account</a>
          </li>
          {% if current_user.is_authenticated  and current_user.role == "church_user"%}
          {% if pop_transts.query.filter_by(usr_id=current_user.id).first() %}
          <div class="navbar-separator"></div>
          <li class="other-nav-item">
            <a class="nav-link" href="/already_registered">View My Card</a>
          </li>
          {% endif %}
          {% endif %}
          <div class="navbar-separator"></div>
          <li class="other-nav-item">
            <a class="nav-link" href="https://www.google.com/maps/place/-26.482515, 31.312862">Find Location</a>
          </li>
          <div class="navbar-separator"></div>
          

          
          {% if current_user.role == "admin_user" %}
            <li class="other-nav-item">
            <a class="nav-link" href="/contact" >Close Event</a>
          </li>
          {% endif %}
        </ul>
    </div>

    <div style="background-color:;margin-top:30px;align-items:center;"  class="user-label">
      {% if current_user.is_authenticated %}
          <li><span style="font-size:13px" class="">Welcome, {{current_user.name}}</span></li>
          <li><a class="btns-user links-user" href="/user_account">Account</a></li>
          <li><a class="btns-outlined links-user" href="/logout">Logout</a></li>
      {% else %}
          <li><a class="btns-outlined links-user" href="/login">Login</a></li>
          <li><a class="btns-user links-user" href="/google_signup">Signup</a></li>
      {% endif %}
    </div>

</head>

<body>
    <div class="">
       
        <div>
          <div class="church-logo"><img style="height:inherit" src="{{ url_for('static', filename='images/aec_logo.JPG') }}" /></div>
          <h1 id="abbr-style" style="margin:10px auto;font-weight:800" ><small style="">A</small>.<small style="">E</small>.<small style="">C</small></h1>
          <h2 style="margin-top:0px;color:rgb(65, 66, 66)" >Africa Evangelical Church</h2>
        </div>
        {% if event_details %} 
          <div class="general-flex" style="margin:10px auto;"><a href="/user_registration_form"> <button style="" class="btns-outlined links-user">Register / Reserve</button></a></div>
        {% endif %}
        {% if current_user.is_authenticated and pop_transts.query.filter_by(usr_id=current_user.id).first() %}
          <div class="general-flex" style="margin:10px auto;"><a href="/already_registered"> <button style="" class="btns-outlined links-user">View My Card</button></a></div>
        {% endif %}
        {% block content %}
        {% endblock %}
    </div><br><br>
    <div style="flex-direction: column;" class="physical_addr">
      <div style="flex-direction: column;" class="general-flex">
        <small>Having issues? Report them here for a quick response!</small>
         <a href="/contact_form"> <h4 style="font-weight:500px" class="btns">Report Issues</h4></a>
      </div><br>
    </div>
    <div class="physical_addr">
      <label>powered by: Tech Xolutions(TechX)</label><br>
      <label>info@techxololutions.com</label>
    </div>

    <script src="static/js_script.js" ></script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>